.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  justify-items: flex-start;
}

.modal__post {
  display: flex;
  width: 1055px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    background-color: #fff;
    &__btns {
      display: flex;
      gap: 20px;
      &__first {
        display: flex;
        gap: 16px;
      }
    }
    &__user {
      display: flex;
      align-items: center;
      gap: 10px;

      &__txt {
        display: flex;
        flex-direction: column;
        &__name {
          color: #0e0e0e;
          font-size: 20px;
          font-weight: 400;
        }

        &__email {
          color: #808080;
          font-size: 16px;
          font-weight: 400;
        }
      }

      &__avatar {
        border-radius: 100%;
        width: 57px;
        height: 57px;
        background: #000;
      }
    }
  }
  &__image {
    width: 100%;
    height: 540px;
    border-radius: none;
  }
  &__text {
    align-items: center;
    padding: 15px 40px 30px 40px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width: 992px) {
  .modal__post {
    width: 900px;
  }
}

@media (max-width: 767px) {
  .modal__post {
    width: 700px;
    &__header {
      &__user {
        &__txt {
          &__name {
            font-size: 16px;
          }
    
          &__email {
            font-size: 14px;
          }
        }
    
        &__avatar {
          width: 50px;
          height: 50px;
        }
      }
    }
    &__image {
      height: 400px;
    }
  }
}

@media (max-width: 576px) {
  .modal__post {
    width: 550px;
    &__image {
      width: 100%;
      height: 400px;
    }
    &__header {
      &__btns {
        &__first {
          display: flex;
          flex-direction: row;
          gap:12px;
          &__btn {
            display: none;
          }
        }
      }
    }
  }
}
