.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  display: flex;
  justify-content: center;
  padding: 48px 120px;
  border-radius: 20px;
  background: #fff;

  form {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    gap: 16px;

    h2 {
      margin-bottom: 32px;
      color: #0e0e0e;
      text-align: center;
      font-size: 48px;
      font-weight: 500;
    }
  }

  &__block {
    display: flex;
    gap: 32px;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

@media (max-width: 1200px) {
  .modal {
    padding: 48px 60px;

    .modal__block {
      gap: 16px;
    }
  }
}

@media (max-width: 992px) {
  .modal {
    padding: 32px 40px;

    .modal__block {
      gap: 12px;
    }

    form {
      gap: 12px;
    }
  }

  .modal h2 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .modal {
    padding: 24px 120px;

    .modal__block {
      flex-direction: column;
      gap: 8px;
    }

    form {
      gap: 8px;
    }
  }

  .modal h2 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .modal {

    .modal__block {
      gap: 8px;
    }
  }

  .modal h2 {
    font-size: 24px;
  }
}