.navbar {
    display: flex;
    width: 100vw;
    height: 77px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    padding: 0 120px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
    .header__logo {
        display: flex;
        align-items:center;
        gap: 30px;
    }
    &__right-side {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 507px;
        gap: 80px;
    }
    &__link {
        color: #808080;
        font-size: 24px;
        font-weight: 400;
        text-decoration: none;
    }
    &__user {
        display: flex;
        align-items:center;
        gap: 10px;
        &__txt{
            display: flex;
            flex-direction: column;
            max-width: 135px;
            &__name {
                    color: #0E0E0E;
                    font-size: 16px;
                    font-weight: 400;
                }
            
            &__email {
                color: #808080;
                font-size: 14px;
                font-weight: 400;
            }
        }
        &__avatar {
            border-radius: 100%;
            width: 57px;
            height: 57px;
            background: #000;
        }
    }
}