.side {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s ease;
  border-top: 2px solid #dcd8d8;
  border-right: 2px solid #dcd8d8;
  &__up {
    display: flex;
    padding: 30px 14px 0 44px;
    justify-content: space-between;
    &__right {
      display: flex;
      align-items: center;
      gap: 10px;
      h2 {
        color: #0e0e0e;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 30px 14px 0 44px;
    max-height: calc(100% - 80px);
    overflow-y: auto;
  }
}

.side.open {
  left: 0;
}
